<form>
  <div class="row" *ngIf="subCategoryModel">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Descriptionvv" placeholder="Description"
          [(ngModel)]="subCategoryModel.Description" />
      </div>
      <div class="form-group">
        <label for="Remarks">Remarks</label>
        <input type="text" class="form-control" name="Remarks" [(ngModel)]="subCategoryModel.Remarks" />
      </div>

      <div class="form-group">
        <label for="power">Status</label>
        <select class="form-control" id="power" [(ngModel)]="subCategoryModel.StatusId" name="status"
          (ngModelChange)="setStatus($event)">
          <option *ngFor="let i of status" [value]="i.id">{{i.desc}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">

        <label for="Status"> Category Image </label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event)">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

      <div class="text-center">
          <div class="img">
            <img src='{{subCategoryModel?.ImageURL}}' height="200" width='100%' class="rounded" alt="...">
          </div>
        </div>


    </div>
  </div>
</form>
<div class="btn-group float-right">
    <button type="button" class="btn btn-primary" (click)="AddSubCategory()">AddToCategory</button>
    <button type="button" class="btn btn-primary" (click)="dialogClose()">Close</button>
  </div>

{{ subCategoryModel | json }}
