<div class="row row-sm">
  <aside class="col-md-3">
    <div class="card">
      <header class="card-header bg-secondary white">
        <i class="icon-menu"></i> Categories
      </header>
      <ul class="menu-category">
        <li *ngFor="let m of categoryModel ; let i = index">
          <a href="#" *ngIf='m.listSubCategory.length > 0 && i < 5' [routerLink]="['/category/sub']"
            [queryParams]="{c :m.CategoryID, name : m.Description }">
            {{m.Description}} <i class="icon-arrow-right pull-right"></i>
          </a>
          <a href="#" *ngIf='m.listSubCategory.length === 0  && i < 5' [routerLink]="['/category/items']"
            [queryParams]="{cat :m.CategoryID }">
            {{m.Description}} <i class="icon-arrow-right pull-right"></i>
          </a>
        </li>

        <li class='has-submenu' *ngIf='categoryModel.length > 5'>
          <a class="nav-item nav-link" routerLink="/category">more..</a>
          <ul class="submenu">
            <li *ngFor="let m of categoryModel ; let j = index">
              <a href="#" *ngIf='m.listSubCategory.length > 0 && j >= 5' [routerLink]="['/category/sub']"
                [queryParams]="{c :m.CategoryID, name : m.Description }">
                {{m.Description}} <i class="icon-arrow-right pull-right"></i>
              </a>
              <a href="#" *ngIf='m.listSubCategory.length === 0  && j >=  5' [routerLink]="['/category/items']"
                [queryParams]="{cat :m.CategoryID }">
                {{m.Description}} <i class="icon-arrow-right pull-right"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div> <!-- card.// -->
  </aside> <!-- col.// -->

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img style="width:100%" src="https://www.buyasianfood.com.au/_photopages/363/slide-new-products.jpg"
                alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <!-- <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img style="width:100%" src="https://www.buyasianfood.com.au/_photopages/363/slide-visit-us.jpg"
                alt="Random second slide">
            </div>
            <div class="carousel-caption">
              <!-- <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header bg-primary">Special Items</div>
      <div class="card-body">
        <ngb-carousel [interval]="2000">
          <ng-template ngbSlide>
            <div class="item-slide">
              <figure class="card card-product">
                <div class="img-wrap"> <img style="width:100%"
                    src="http://13.75.198.182/webapi/UploadFile//item_cfaf4307-a0a3-4821-8232-623688260c24.jpg">
                </div>
                <figcaption class="info-wrap">
                  <a href='/item?i=7' class="title">Ahya Coco Classic Coconut Milk  </a>
                  <div class="price-wrap">
                    <span class="price-new">US $25</span>
                  </div> <!-- price-wrap.// -->
                </figcaption>
              </figure> <!-- card // -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="item-slide">
              <figure class="card card-product">
                <div class="img-wrap"> <img style="width:100%"
                    src="http://13.75.198.182/webapi/UploadFile//item_f0251c19-a8a3-4ffd-9b55-cc092df13c94.jpg">
                </div>
                <figcaption class="info-wrap">
                  <a href='/item?i=10' class="title">ABC Mung Bean Drink  </a>
                  <div class="price-wrap">
                    <span class="price-new"> US $33</span>
                  </div> <!-- price-wrap.// -->
                </figcaption>
              </figure> <!-- card // -->
            </div>
          </ng-template>
        </ngb-carousel>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->
  </div>

</div>
