<section class="section-content bg padding-y-sm">
    <div class="container-fluid">

      <hr />
      <div class="row-sm">
        <div class="col-md-2 col-sm-6" *ngFor="let item of gridOption.datas.pagedItems">
          <figure class="card card-product">
            <a (click)="loadItemBySubCatId(item)">
              <div class="img-wrap">
                <img src="{{ imagePathUrl + item.ImageURL }}" />
              </div>
            </a>
            <figcaption class="info-wrap">
              <a href="#" class="title">{{ item.Description }}</a>
              <div class="price-wrap"></div>
              <!-- price-wrap.// -->
            </figcaption>
          </figure>
          <!-- card // -->
        </div>
        <!-- col // -->
      </div>
      <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
    </div>
  </section>




