<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col">Discount%</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Unit Price</th>
              <th scope="col" class="text-right">Discount</th>
              <th scope="col" class="text-right">Total</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of items; let ii = index">
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
              <td>{{i.Description}}</td>
              <td>In stock</td>
              <td>{{i.Discount}}</td>
              <td><input class="form-control"type="text"
                 [(ngModel)]="i.OrderQty"  (ngModelChange)="triggerUpdate(i)"  /></td>
              <td class="text-right">{{i.Price}}$</td>
              <td class="text-right">{{ (i.OrderQty * i.Price)*(i.Discount *0.01)  }}$</td>
              <td class="text-right">{{ (i.OrderQty * i.Price) - ((i.OrderQty * i.Price)*(i.Discount *0.01) ) }}$</td>
              <td class="text-right">
                <button (click)="deleteShoppingCartItem(i)" class="btn btn-sm btn-danger">
                  <i class="fa fa-trash"></i> </button>
              </td>
            </tr>


            <tr *ngIf="items.length > 0" >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"> {{spCartSummary.Total}}$</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase" (click)="checkOut()" >Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
