<div class="row">
  <div class="col-lg-2 col-md-4 mb-4">
    <a><img class="card-img-top" src="{{item.ImageURL}}" alt="" /></a>
  </div>
  <div class="col-lg-10 col-md-8 mb-4">
    <h5 class="card-title">{{item.Description}}</h5>
    <h4>Price : {{item.Price}}</h4>
    <h6 class="card-title btn btn-danger" *ngIf='item.SIH <= 0'><del> out of stock</del></h6>
    <div class="row" *ngIf='item.SIH >0'>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Qty</span>
          </div>
          <input type="text" [(ngModel)]="item.OrderQty" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <button class="btn btn-primary input-group-text" (click)="addShoppingCartItem(item)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
