 <div  class="row" *ngIf="searchID==1">
    <div class="col-md-4 col-sm-4 form-horizontal">
      <div class="form-group">
          <select class="form-control"  [(ngModel)]="searchColumn" >
              <option *ngFor="let x of searchOptionsX; let index = index" [value]="x.colName" >
                {{x.colName }}
              </option>
          </select>
      </div>
    </div>
      <!-- <div class="col-md-3 col-sm-3 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 col-md-2 control-label">Sort</label>
        <div class="col-sm-10 col-md-10">
          <select class="form-control">
            <option> Asc</option>
            <option> Dsc</option>
          </select>
        </div>
      </div>
    </div> -->

    <div class="col-md-6 col-sm-5 form-horizontal">
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          <input id="textinput" name="textinput" type="text" [(ngModel)]="searchText" placeholder="Search Text" class="form-control">
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-12 form-horizontal">
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          <button id="button1id" name="button1id" class="btn btn-success btn-block " (click)='searchClick(searchColumn,searchText)' >Search..</button>
        </div>
      </div>
    </div>
  </div>


