

    <div class="modal " id="myModal" [style.display]="modalOpen== true ? 'block': 'none' ">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal" (click)="closeModal($event)">&times;</button>
                </div>

                <!-- Modal body -->
                  <ng-content></ng-content>

                <!-- Modal footer -->
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="closeModal($event)">Close</button>
                </div> -->

              </div>
        </div>
      </div>
      <div class="modal-background"  [style.display]="modalOpen== true ? 'block': 'none'"></div>
