


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a href="#" class="navbar-brand" routerLink="/home">Brand</a>
  <app-item-search></app-item-search>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/category">Category</a>
          <div class="nav-item dropdown" *ngIf='isAdminLogged$'>
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/AdminCategory">AdminCategory</a>
                <a class="dropdown-item"routerLink="/AdminItems"    >Admin Items</a>
              </div>
          </div>
      </div>


      <form class="form-inline my-2 my-lg-0">

        <a *ngIf="shoppinCartItemCount$.itemsCount >0 " class="btn btn-success btn-sm ml-3" routerLink="/shoppinCart">
          <i class="fa fa-shopping-cart"></i>&nbsp;
          <span class="badge badge-light">{{shoppinCartItemCount$.itemsCount}} </span>&nbsp;
          <span class="badge badge-light">{{shoppinCartItemCount$.Total}}$</span>
        </a>
      </form>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top"  >
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a class="nav-item nav-link" routerLink="/category">All Category</a>
 </div>
  <app-item-search></app-item-search>
  <form class="form-inline my-2 my-lg-0">

    <a *ngIf="shoppinCartItemCount$.itemsCount >0 " class="btn btn-success btn-sm ml-3" routerLink="/shoppinCart">
      <i class="fa fa-shopping-cart"></i>&nbsp;
      <span class="badge badge-light">{{shoppinCartItemCount$.itemsCount}} </span>&nbsp;
      <span class="badge badge-light">{{shoppinCartItemCount$.Total}}$</span>
    </a>
  </form>
</nav> -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark "  >
  <div class="navbar-nav" *ngFor="let i of navigationLink$ | async; ">
    <a class="nav-item nav-link" routerLink="{{i.url}}">{{i.url}}</a>
  </div>

  </nav> -->


<app-loading-animation></app-loading-animation>

<!-- Page Content -->
<div class="container-fluid">

  <div class="row">


    <!-- /.col-lg-3 -->
    <!-- <div class="col-lg-2" style='background-color:blue; '>
    left side navigation/any
    </div> -->

    <div class="col-lg-12">
      <alert></alert>
      <router-outlet></router-outlet>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019

      <a class=" nav-item nav-link" *ngIf='!isAdminLogged$' routerLink="/login">Admin</a>

      <a class=" nav-item nav-link" *ngIf='isAdminLogged$' routerLink="/#" (click)='logOut()'>Log Out</a>
    </p>
  </div>
  <!-- /.container -->
</footer>
<app-confirm-dialog></app-confirm-dialog>

