<section class="section-content bg padding-y-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row-sm">
          <div class="col-md-3 col-sm-6" *ngFor="let item of gridOption.datas.pagedItems">
            <figure class="card card-product">
              <a (click)="selectedCategory(item)">
                <div class="img-wrap">
                  <img src="{{ imagePathUrl + item.ImageURL }}" />
                </div>
              </a>
              <figcaption class="info-wrap">
                <a   class="title" (click)="selectedCategory(item)" href=''>{{ item.Description }}</a>
                <div class="price-wrap"></div>
                <!-- price-wrap.// -->
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <!-- col // -->
        </div>
        <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
