<style>
  .hideHome {
    display: none !important;
  }
</style>
<section class="section-main bg padding-top-sm">
  <div class="container">

<app-home-category-leftsidemenu></app-home-category-leftsidemenu>

  </div> <!-- container .//  -->
</section>

<section class="section-content padding-y bg">
  <div class="container">

    <div class="card mb-3">
      <div class="card-body">

        <header class="section-heading">
          <h3 class="title-section">Most sold items</h3>
        </header>

        <div class="row-sm">
          <div class="col-md-3 col-sm-6" *ngFor="let i of MostSoldItems">
            <figure class="card card-product">
              <div class="img-wrap"> <a (click)="navigateToItem(i.ItemID)"><img src="{{i.ImageURL}}"></a></div>
              <figcaption class="info-wrap">
                <a (click)="navigateToItem(i.ItemID)"   class="title">{{i.Description}}</a>
                <div class="price-wrap">
                  <span *ngIf="i.Discount==0" class="price-new">${{i.Price}}</span>

                  <span *ngIf="i.Discount>0" class="price-new">${{i.Price -(i.Price * i.Discount*.01)}}</span>
                  <del *ngIf="i.Discount>0" class="price-old">${{i.Price}}</del>
                </div> <!-- price-wrap.// -->
              </figcaption>
            </figure> <!-- card // -->
          </div> <!-- col // -->









        </div>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->

    <div class="card">
      <div class="card-body">

        <article>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br><br><br><br>
        </article>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->

  </div> <!-- container .//  -->
</section>
