<style>
  .hideHome {
    display: none !important;
  }
</style>
<section class="section-main bg padding-top-sm">
  <div class="container">

<app-home-category-leftsidemenu></app-home-category-leftsidemenu>

  </div> <!-- container .//  -->
</section>

<section class="section-content padding-y bg">
  <div class="container">

    <div class="card mb-3">
      <div class="card-body">

        <header class="section-heading">
          <h3 class="title-section">Main section is here</h3>
        </header>

        <div class="row-sm">
          <div class="col-md-3 col-sm-6">
            <figure class="card card-product">
              <div class="img-wrap"> <img src="https://www.buyasianfood.com.au/pi/TrungNguyc3aanG73-In-1Coffee16Kg@p4818@300x300.jpg"></div>
              <figcaption class="info-wrap">
                <a href="#" class="title">Good item name</a>
                <div class="price-wrap">
                  <span class="price-new">$1280</span>
                  <del class="price-old">$1980</del>
                </div> <!-- price-wrap.// -->
              </figcaption>
            </figure> <!-- card // -->
          </div> <!-- col // -->
          <div class="col-md-3 col-sm-6">
            <figure class="card card-product">
              <div class="img-wrap"> <img src="https://www.buyasianfood.com.au/pi/OtafukuOkonomiyakiSauce500Ml@p883@300x300.jpg"></div>
              <figcaption class="info-wrap">
                <a href="#" class="title">The name of product</a>
                <div class="price-wrap">
                  <span class="price-new">$280</span>
                </div> <!-- price-wrap.// -->
              </figcaption>
            </figure> <!-- card // -->
          </div> <!-- col // -->
          <div class="col-md-3 col-sm-6">
            <figure class="card card-product">
              <div class="img-wrap"> <img src="https://www.buyasianfood.com.au/pi/JFCEmptyBaoBuns(Large)12Kg@p21443@300x300.jpg"></div>
              <figcaption class="info-wrap">
                <a href="#" class="title">Good item name</a>
                <div class="price-wrap">
                  <span class="price-new">$280</span>
                </div> <!-- price-wrap.// -->
              </figcaption>
            </figure> <!-- card // -->
          </div> <!-- col // -->
          <div class="col-md-3 col-sm-6">
            <figure class="card card-product">
              <div class="img-wrap"> <img src="https://www.buyasianfood.com.au/pi/Wel-PacEdamameInPod454G@p22562@300x300.jpg"></div>
              <figcaption class="info-wrap">
                <a href="#" class="title">Good item name</a>
                <div class="price-wrap">
                  <span class="price-new">$280</span>
                </div> <!-- price-wrap.// -->
              </figcaption>
            </figure> <!-- card // -->
          </div> <!-- col // -->








        </div>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->

    <div class="card">
      <div class="card-body">

        <article>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br><br><br><br>
        </article>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->

  </div> <!-- container .//  -->
</section>
